
body{
    background-color: lightseagreen; 
}

 
.navbar {
    background-color: transparent !important;
}

a:hover {
    color: orange !important;
}
/* 
#circle {
    background-color: orange;
    color: black;
    margin-top: -75px;
    margin-left: -40px;
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 80%;
    z-index: -10;

}

#circle:hover{
    width: 240px;
    height: 240px;

} */

.wrapper {
    
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: auto;
}

.title {
    text-align: center;
    vertical-align: middle;

}

h1 {
    color: teal;
    margin-top: 3em;
}
h3 {
    color: white;
}
h5 {
    color: orangered
}

.van{
    margin: 0em;
    padding: 0%;
    width: 100%;
    position: absolute;
    bottom: 3em;
}

#van {
    width: 20%;
    position: relative;
    display: block;
    margin: auto;
   
}

.forestBackground{
    margin: 0em;
    padding: 0%;
    width: 100%;
    position: absolute;
    bottom: 3em;
}
#forestBackground {
    width: 100vw;
    position: relative;
    display: block;
    float: left;
    z-index: -1;
   
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    line-height: 3em;
    background-color:lightseagreen;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
.text-muted {
    color: white;
    margin: auto;
}
#formbutton-button {
    background: orangered !important;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 80px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* LinkedIn */
  .fa-linkedin {
    background: none;
    color: white;
  }
  
  /* Github */
  .fa-github {
    background: none;
    color: white;
  }
  

